<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	">
	
	<bean id="brave" class="com.qinyadan.brick.market.common.ZipkinBraveFactoryBean"
		p:serviceName="accountService" p:zipkinHost="http://localhost:9411" />
		
	<bean id="braveFilter" class="com.github.kristofa.brave.servlet.BraveServletFilter">
		<constructor-arg value="#{brave.serverRequestInterceptor()}" />
		<constructor-arg value="#{brave.serverResponseInterceptor()}" />
		<constructor-arg>
			<bean class="com.github.kristofa.brave.http.DefaultSpanNameProvider" />
		</constructor-arg>
	</bean>
</beans>